html, body {
    margin: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    background: #000;
}

.gov {
    text-decoration: none;    
    text-align: center;
    font-size: 28px;
    letter-spacing: 2px;

    margin: 15px auto;
}

.header {
    display: flex;
}

.header-text {
    text-align: center;
    font-size: 28px;
    letter-spacing: 2px;
    color:aqua;

    margin: 15px auto;

    transition: 0.4s ease;
}

.header-text:hover {
    color:brown;
    transform: scale(1.05);
}

.shit {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 1;
}

.shit-2 {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
}

.an {
    border-radius: 50%;
}

.an-b {
    display: flex;
    text-align-last: center;
    color: aqua;
    text-decoration: none;
}

.sex {
    text-align: center;
    font-size: 28px;
    letter-spacing: 2px;
    color:aqua;

    margin: 70px auto;

    transition: 0.4s ease;
}

.sex-a {
    text-decoration: none;
}

.sex:hover {
    color:brown;
    transform: scale(1.05);
}